$container: 1142px;
$font-family1: "Lato", sans-serif;
$font-family2: "Raleway", sans-serif;

// === colors ===

$header-bg: #10101D;
$logo: #42A9ED;
$logo-hover: #3688c0;
$link-hover-1: #43ABF0;
$blue: #3E9CDC;
$gray: #6F6D7B;
$light-gray: #BBBBBB;
$white: #fff;
$white-gray: #d1d1d1;
$light-black: #2A2B30;
$orders-bg: #272733;
$reviews-bg:rgb(49, 49, 55);
$card-bg:rgb(70, 70, 72);
$dark-blue: #286690;
$dark-blue-2: #347fb2;
$black: #000;
$footer-bg: #3D4050;
$gray-2: #C3C3C3;

// === /colors ===


// === templates ===

%form-control {
  font-size: 18px;
  position: relative;
  width: 350px;
  margin-bottom: 30px;
  margin-right: 10px;
}

%section-title {
  text-transform: uppercase;
    font-size: 36px;
    line-height: auto;
    font-weight: 700;
    text-align: center;
    color: $white;
    margin-bottom: 30px;
}

//  === /templates ===