$container: 1142px;
$font-family1: "Lato", sans-serif;
$font-family2: "Raleway", sans-serif;

// === colors ===

$header-bg: #10101D;
$logo: #42A9ED;
$link-hover-1: #43ABF0;
$blue: #3E9CDC;
$gray: #6F6D7B;
$light-gray: #BBBBBB;
$white: #fff;
$light-black: #2A2B30;
$orders-bg: #272733;
$dark-blue: #286690;

// === /colors ===