@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// === header ===

.header {
  background-color: rgba($color: $header-bg, $alpha: 0.9);
  z-index: 50;
  padding: 32px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    max-width: 436px;
  }

  &__link, .mobileMenu__link {
    transition: .2s;
    text-transform: uppercase;

    &:hover {
      color: $link-hover-1;
    }
  }
}

.logo {
  font-family: $font-family2;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 28px;
  line-height: auto;
  text-transform: uppercase;
  margin-right: 15px;
  transition: color .2s;

  &:hover {
    color: rgba($color: $white, $alpha: 0.6);

    .logo__color {
      color: $logo-hover;
    }
  }

  &__color {
    transition: color .2s;
    color: $logo
  }
}

.burger {
  display: none;
  position: relative;
  z-index: 51;

  width: 35px;
  cursor: pointer;
}

.burger__item,
.burger::before,
.burger::after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s;
}

.burger::before {
  margin-top: 0;
}

.burger::after {
  margin-bottom: 0;
}

.burger.isActive .burger__item {
  opacity: 0;
}

.burger.isActive::before {
  transform: rotate(-45deg) translate(-7px, 3px);
}

.burger.isActive::after {
  transform: rotate(45deg) translate(-8px, -5px);
}

.mobileMenu__list {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  // padding-top: 100px !important;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 100;
  background-color: $footer-bg;
  transition: 0.3s;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobileMenu__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobileMenu__list.isActive {
  left: 0;
}

// === /header ===


// === main ===

// --- hero ---
.hero {
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 340px;
  padding-top: 216px;

  &__inner {
    max-width: 780px;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: auto;
    margin-bottom: 80px;
    text-transform: uppercase;
  }

  &__title_colored {
    color: $blue;
  }

  &__info {
    margin-bottom: 80px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__itemLine {
    margin-right: 5px;
    font-size: 20px;
  }

  &__controls {
    max-width: 396px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  &__control {
    padding: 15px 32px;
    font-size: 13px;
    line-height: auto;
    margin-right: 10px;
    width: 184px; //!
    text-align: center;
    text-transform: uppercase;
    outline: 1px solid;
    outline-color: $gray;
    background-color: $white;
    color: $light-black;
    border-radius: 4px;
    transition: .2s;

    &:hover {
      background-color: $white-gray;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__control_colored {
    color: $white;
    outline-color: $white;
    background-color: $blue;

    &:hover {
      background-color: $dark-blue-2;
    }
  }
}
// --- /hero ---

// --- orders ---

.orders {
  background-image: url(../images/orders-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom bottom; //!
  background-color: $orders-bg;
  padding-block: 68px;

  &__info {
    margin-bottom: 80px;
  }

  &__title {
    @extend %section-title;
  }

  &__title_colored {
    color: $blue;
  }

  &__text {
    font-size: 18px;
    line-height: auto;
    color: $light-gray;
    text-align: center;
  }

  &__items {
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    color: $white;
    margin-bottom: 80px;
  }

  &__item {
    position: relative;
    width: 210px; //!
    text-align: center;
  }

  &__imageWrapper {
    border: 4px solid $dark-blue;
    border-radius: 100px;
    background-color: $blue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
  }

  &__itemTitle {
    max-width: 188px;
    margin: 0 auto;
  }

  &__dots {
    position: absolute;
    top: 41px;
    left: 163px;
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .form {
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      flex: 1;
    }

    &__control {
      @extend %form-control;

      &:nth-child(3), &:last-child {
        margin-right: 0;
      }
    }

    &__select {
      appearance: none;
      background-color: rgba($color: $white, $alpha: 0.8);
      border: none;
      width: 100%; //!
      padding: 12px 3px 12px 10px;
      outline: none;
      border-radius: 3px;
      cursor: pointer;

      &:focus-within {
        outline: 3px solid $logo;
      }
    }

    &__selectBtn {
      position: absolute;
      top: 20px;
      right: 18px;
      width: 9px;
      height: 6px;
      pointer-events: none;
    }

    &__selectValue {
      width: 30px
    }

    &__input {
      background-color: rgba($color: $white, $alpha: 0.8);
      width: 100%;
      padding: 12px 36px 12px 10px;
      border: none;
      border-radius: 3px;
      display: inline-block;

      &::placeholder {
        color: $orders-bg;
      }

      &:focus {
        outline: 3px solid $logo;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: end;
      column-gap: 30px;
      margin-bottom: 40px;
    }

    &__items {
      width: 100%;
    }

    &__block {
      margin-bottom: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      color: $white;
      flex: 1;
    }

    &__range {
      appearance: none;
      width: 100%;
      background-color: rgba($color: $white, $alpha: 0.7);
      border-radius: 3px;
      height: 6px;
      border: 1px solid $white;

      &::-webkit-slider-runnable-track, &::-moz-range-track {
        background-color: rgba($color: $white, $alpha: 0.7);
        height: 1px;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid $dark-blue;
        border-radius: 10px;
        background-color: $logo;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        border: 2px solid $dark-blue;
        border-radius: 10px;
        background-color: $logo;
        cursor: pointer;
      }
    }

    &__fileBox {
      margin-bottom: 0;
    }

    &__file {
      display: none;
    }

    &__fileLabel {
      @extend %form-control;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 36px 12px 10px;
      margin-bottom: 0;
      text-align: center;
      cursor: pointer;
      font-size: 15px;
      text-transform: uppercase;
      border-radius: 3px;
      outline: 2px solid $blue;
      background-color: $white;
      transition: .2s;

      &:hover {
        background-color: $white-gray;
      }
    }

    &__fileImg {
      margin-right: 10px;
    }

    &__btn {
      display: block;
      padding: 14px 0;
      font-size: 15px;
      text-transform: uppercase;
      color: $white;
      background-color: $blue;
      outline: 2px solid $white;
      margin: 0 auto;
      border-radius: 3px;
      @extend %form-control;
      transition: .2s;

      &:hover {
        background-color: $dark-blue-2;
      }
    }
  }
}

// --- /orders ---

// --- reviews ---

.reviews {
  padding-block: 68px;
  background-color: $reviews-bg;

  &__title {
    @extend %section-title;
    margin-bottom: 60px;
  }
}



.slider {
  position: relative;
  padding-inline: 50px;

  &__carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 5px);
    gap: 8px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scrollbar-width: 0;  
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar  {
      display: none;
    }
  }

  &__carousel.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
  }

  &__carousel.dragging .slider__card {
    cursor: grab;
    user-select: none;
  }
 
  &__card {
    scroll-snap-align: start;
    max-width: 350px;
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: $card-bg;
  }

  &__imgBox {
    margin-bottom: 10px;
  }

  &__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  &__cardTitle {
    font-size: 18px;
    color: $white;
    margin-bottom: 10px;
  }

  &__review {
    font-size: 16px;
    color: $gray-2;
  }

  &__btn {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }

  &__arrow {
    width: 30px;
    height: 30px;
  }
}

// --- /reviews ---

// === /main ===


// === footer ===

.footer {
  padding: 30px 0;
  background-color: $footer-bg;
  font-size: 13px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    position: relative;
    display: flex;
    padding-inline: 40px !important;
    border-right: 1px solid $gray-2;

    &:first-child {
      padding-left: 0 !important;
    }

    &:last-child {
      border-right: none;
      padding-right: 0 !important;
      // padding-left: 35px !important;
    }
  }

  &__logo {
    color: $white;
    margin-right: 10px;
  }

  &__uppercase {
    text-transform: uppercase;
  }

  &__list {
    max-width: 434px;
    flex-wrap: wrap;
  }

  &__listItem, &__link {
    display: flex;
    align-items: center;
  }

  &__listItem {
    margin-right: 10px;
    color: $gray-2;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__link:hover  {
    text-decoration: underline;
  }

  &__img {
    margin-right: 10px;
  }
}

//  === /footer ===

@import 'media';
